* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$border-color: rgba(128, 128, 128, .2);
$border-radius-input: 3px;

html,
body {
  height: 100%;
  font-family: "Roboto Light", sans-serif;
}

button {
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 5px;
}

@mixin button ($background-color, $value) {
  display: inline-block;
  cursor: pointer;
  #{background-color}: $value;
  padding: 10px;
  margin-right: 10px;
  border-radius: $border-radius-input;
}

h2 {
  font: 300 20px "Roboto", sans-serif;
  margin-bottom: 5px;
}

.header {
  padding: 15px 27px;
  background-color: #29313C;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.header-logo__icon-binman {
  margin-right: 15px;
}

main {
  position: relative;
  overflow: hidden;
  background-color: #F4F9FB;
  height: calc(100% - 70px);
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.main__panel-tabs {
  z-index: 1;
  background-color: #323A45;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);

  & > * {
    background-color: transparent;
    display: block;
    border: none;
    padding: 10px 15px;
    margin: 20px;

    @media (max-width: 768px) {
      margin: 20px auto;
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 4px #282E37;
      background-color: #282E37;
    }
  }
}

.main-body {
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  font: 300 20px "Roboto", sans-serif;

  & p {
    font-size: 12px;
  }
}

.main-body--disabled {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#282E37, .5);
  }
}

.main-body__head {
  display: flex;
  justify-content: space-between;
}

.button-favorites,
.button-add {
  padding: 10px;
  text-transform: uppercase;
  transition: all .2s ease-in;

  svg {
    vertical-align: middle;
    margin-right: 6px;
  }

  &:hover {
    color: #fff;
    background-color: #386BF2;
  }

  &:hover svg path {
    fill: #fff;
  }
}

// <-- таблица

.wrapper-table {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #29313C;
  }
}

table {
  overflow-x: scroll;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 30px;
  border-bottom: #F4F9FB;
  border-collapse: collapse;
  width: 100%;
  min-width: 1000px;
}

table th {
  padding: 20px 10px;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}

.add-text {
  font-size: 11px;
  color: rgb(152, 152, 152);
}

table td {
  img, svg  {
    vertical-align: middle;
  }
}

table td {
  padding: 5px 0 5px 20px;

  & > svg {
    margin-right: 10px;
  }
}

td.no-info {
  color: rgb(152, 152, 152);

  & > svg path {
    fill: rgba(152, 152, 152, .5);
  }
}

table tr,
thead {
  border-bottom: 3px solid #F4F9FB;
}

.cell-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.cell-stars img {
  margin-bottom: 5px;
}

.cell-phone-number a {
  margin-right: 10px;
  text-decoration: none;
}

.cell-person__photo {
  margin-right: 10px;
}

.cell-button button {
  cursor: pointer;

  &:hover {
    border: 1px solid #386BF2;
  }
}

.cell-button button img {
  padding: 8px;
}

// таблица -->

// <-- popup форма

.form-add-job-seekers {
  position: relative;
  top: 0;
}

.form-add-job-seekers {
  height: 100%;
  position: absolute;
  top: 0;
  left: 101%;
  right: -55%;
  z-index: 1;
  transition: all .3s ease-in-out;

  button {
    text-transform: uppercase;
  }
}

.form-add-job-seekers--visible {
  right: 0;
  left: auto;
}

.wrapper-form {
  overflow-x: scroll;
  height: 100%;
  padding: 35px;
}

.form-add-job-seekers {
  font-weight: 300;
  font-size: 12px;
  box-shadow: 0 0 1px 0 #282E37;
  margin-left: 55px;
  background-color: #fff;

  .form-add-job-seekers__section {
    margin-bottom: 35px;

    & > input[type="text"] {
      background-color: #F4F9FB;
      border: 1px solid #DCE5EA;
      border-radius: $border-radius-input;
      padding: 10px;
      width: 100%;
    }

    & > * {
      margin-bottom: 18px;
    }
  }

  .add-job-seekers__label {
    text-transform: uppercase;
    display: block;
  }

  h2, p, legend {
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 45px;
  }
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px dotted #989898;
}

.add-job-seekers__upload-photo,
.add-job-seekers__resume,
.add-job-seekers__archive {
  padding: 10px;
  background-color: #F4F9FB;
  border: 1px solid #DCE5EA;
  border-radius: $border-radius-input;
}

.input__placeholder {
  color: #989898;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.add-job-seekers__button-fake {
  @include button (background-color, #386BF2);
  color: #fff;
  text-transform: uppercase;
}

input.add-job-seekers__button-fake {
  display: none;
}

.add-job-seekers__button-close {
  position: absolute;
  top: 35px;
  left: -55px;
  padding: 8px 10px;
  margin-right: 20px;
  z-index: 1;
}

// popup форма -->

// Рейтинг/оценка соискателя

.fieldset-rating {
  border: 1px solid transparent;
  display: inline-block;
  margin-right: 55px;
}

.fieldset-rating__rating-group {
  position: relative;
  padding: 2px;
}

.fieldset-rating input {
  position: relative;
  margin-top: 2px;
  margin-right: 2px;
  z-index: 2;
  opacity: 0;
}

.fieldset-rating__rating-group {
  input {
    cursor: pointer;
  }

  label {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 88px;
    height: 16px;
  }
}

input:checked + label {
  opacity: 1;
  z-index: 1;
}

input:nth-of-type(1):checked + label {
  background: url("../images/img-star-1.png") no-repeat;
}

input:nth-of-type(2):checked + label {
  background: url("../images/img-star-2.png") no-repeat;
}

input:nth-of-type(3):checked + label {
  background: url("../images/img-star-3.png") no-repeat;
}

input:nth-of-type(4):checked + label {
  background: url("../images/img-star-4.png") no-repeat;
}

input:nth-of-type(5):checked + label {
  background: url("../images/img-star-5.png") no-repeat;
}

.add-job-seekers__button-reset {
  @include button (background-color, #fff);
  width: 48%;
}

.add-job-seekers__button-sumbit {
  @include button (background-color, #386BF2);
  color: #fff;
  width: 48%;
}

